<div tap-form-group input="form.name" form="form">
  <label for="name" class="col-xs-2">Nome</label>

  <div class="col-xs-10">
    <input focus-if="form.$pristine" type="text" id="name" name="name" class="form-control"
           ng-model="vm.city.name" required/>

    <tap-form-error-messages input="form.name" form="form"></tap-form-error-messages>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="vm.city.published" name="published" id="published"> Publicado
      </label>
    </div>
  </div>
</div>
